
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #007acc;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}
.test{
  color: var(--text-color);
}

html.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.containers {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.theme-toggle-btn.rotate {
  animation: spin 0.4s ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
